<template>
  <div class="datetime-localize">
      <div v-if='isEdited'>
        <strong>Edited:</strong> {{ localizeCreatedAt(this.timeUpdatedAt) }}
      </div>
      <div v-else>
        {{ localizeCreatedAt(this.timeCreatedAt) }}
      </div>
  </div>
</template>

<script>
export default {
  name: 'datetimeLocalize',
  props: ['timeCreatedAt', 'timeUpdatedAt'],
  computed: {
    isEdited: function () {
      var createdAt = this.timeCreatedAt
      var updatedAt = this.timeUpdatedAt
      return createdAt !== updatedAt
    }
  },
  methods: {
    localizeCreatedAt: function (time) {
      let timestamp = new Date(time)
      let parseUtc = timestamp.toLocaleString('en-NZ', { timeZone: 'Pacific/Auckland' })
      return parseUtc
    }
  }
}
</script>
<style scoped>
.datetime-localize strong {
  padding-right: 0.5rem;
}
</style>
