<template>
  <div class="login-form">
    <form v-on:submit="submit">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input v-model="input_email" v-on:input="inputChange"  class="input is-medium" type="email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <!-- <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span> -->
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input v-model="input_password" v-on:input="inputChange" class="input is-medium" type="password" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button type="submit" class="button is-primary" v-bind:class="{ 'is-loading' : this.btn_loading_state }">
            Login
          </button>
        </p>
      </div>
      <div v-if="error_response" class="error-container">
        <span class="help is-danger">{{error_response}}</span>
      </div>
      <div class="forgot-password">
        <router-link v-if="!$auth.check()" to="/recover-password">Forgot password?</router-link>
      </div>
    </form>
  </div>

</template>

<script>
import JsonResponse from '../jsonResponse.js'

export default {
  name: 'loginForm',
  data: function () {
    return {
      'btn_loading_state': false,
      'input_email': null,
      'input_password': null,
      'error_response': null
    }
  },
  methods: {
    submit: function (event) {
      event.preventDefault()
      this.btn_loading_state = true

      this.$auth.login({
        data: {
          email: this.input_email,
          password: this.input_password
        },
        success: function () {
          this.btn_loading_state = false
        },
        error: function (res) {
          this.btn_loading_state = false
          this.error_response = JsonResponse.unwrapMessage(res)
        }
      })
    },
    inputChange: function () {
      if (this.error_response != null) {
        this.error_response = null
      }
    }
  }
}
</script>
