<template>
  <div class="new-password-form">
    <div v-if='!sentRequest'>
      <form v-on:submit="submit">
        <div class="field">
          <p class="control has-icons-left">
            <input v-model="input_password" v-on:input="inputChange" class="input is-medium" type="password" placeholder="New password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input v-model="input_password_confirm" v-on:input="inputChange" class="input is-medium" type="password" placeholder="Confirm new password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <p class="control">
            <button type="submit" class="button is-primary" v-bind:class="{ 'is-loading' : this.btn_loading_state }">
              Submit
            </button>
          </p>
        </div>
        <div v-if="error_response" class="error-container">
          <span class="help is-danger">{{error_response}}</span>
        </div>
      </form>
    </div>
    <div v-else>
      <p>
        Your request has been submitted successfully
      </p>
      <div>
        <router-link to="/login">Login here with your new password</router-link>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: 'newPasswordForm',
  data: function () {
    return {
      'btn_loading_state': false,
      'input_password': null,
      'input_password_confirm': null,
      'error_response': null,
      'sentRequest': false
    }
  },
  methods: {
    submit: function (event) {
      event.preventDefault()
      this.btn_loading_state = true
      var data = {
        'input_password': this.input_password,
        'input_password_confirm': this.input_password_confirm,
        'token': this.$route.query.token // query params token
      }

      let formComplete = this.check_form_inputs()

      if (formComplete) {
        this.axios.post('/auth/new-password', data)
          .then((response) => {
            this.btn_loading_state = false
            this.sentRequest = true
          })
          .catch((error) => {
            this.btn_loading_state = false
            console.warn('todo something went wrong!', error)
          })
      } else {
        this.btn_loading_state = false
      }
    },
    inputChange: function () {
      if (this.error_response != null) {
        this.error_response = null
      }
    },
    check_form_inputs: function () {
      if ((this.input_password === null || this.input_password === '') && (this.input_password_confirm === null || this.input_password_confirm === '')) {
        this.error_response = 'Please complete password fields'
        return false
      }
      if (this.input_password !== this.input_password_confirm) {
        this.error_response = 'Passwords do not match, please try again'
        return false
      }
      return true
    }
  }
}
</script>
