<template>
  <div class="page-home">
    <section class="hero is-light is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            The Social Network
          </h1>
          <h2 class="subtitle">
            pageHome component
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-half">
            <div class="content">
              <h1>Introduction</h1>
              <p>
                This is a personal project by <a href="https://gitlab.com/mharrisondev/" alt="mharrisondev gitlab" target="_blank">
                mharrisondev</a> to <a href="https://gitlab.com/mharrisondev/the-social-network-vue" alt="front-end link">learn VueJS</a>, and attempt creation of a detached RESTful API.
              </p>
              <p>
                It is a basic social networking site. Users have their own 'wall' of posts, sorted and loaded on demand with AJAX.
              </p>
              <p>
                The <a href="https://gitlab.com/mharrisondev/the-social-network-sails-new" alt="back-end link">back end</a> deals with user authentication, password hashing and salting, token based authentication and processing/storing of users content. Postgres DB<br />
              </p>
              <p>
                Please Note, not all functionality has been completed,
                this was very much a work in progress that was not entirely completed.
                As an example, password reset functionality is not functional.
              </p>
              <p>
                Tools and dependencies used for front-end:
              </p>
              <ul>
                <li>Vue JS</li>
                <li>Vue Router</li>
                <li>Vue Axios</li>
                <li>Vue Auth</li>
                <li>Bulma (CSS Framework)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'pageHome'
}
</script>

<style scoped>
.hero {
  background-image:url('/static/courtney-prather-588082-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}
</style>
