<template>
  <div class="page-register">
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Sign up for The Social Network
          </h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-half">
            <RegistrationForm />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import RegistrationForm from './registrationForm.vue'

export default {
  name: 'pageRegister',
  components: {
    RegistrationForm
  }
}
</script>
