<template>
  <div class="page-user-profile">
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="columns">
              <div class="column">
                <UserDetails />
              </div>
            </div>
          </div>
          <div class="column is-three-quarters">
            <div class="columns">
              <div class="column">
                <UserStatusForm v-on:addStatus='prependStatus' />
              </div>
            </div>
            <UserStatusList
              v-bind:statusList='this.statusList'
              v-bind:loading='this.loading'
              v-bind:emptyQuery='this.emptyQuery'
              v-on:triggerGetStatusMessages='getStatusMessages'
            />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import UserDetails from './userDetails.vue'
import UserStatusForm from './userStatusForm.vue'
import UserStatusList from './userStatusList.vue'
import JsonResponse from '../jsonResponse.js'

export default {
  name: 'pageProfile',
  components: {
    UserDetails,
    UserStatusForm,
    UserStatusList
  },
  data: function () {
    return {
      statusList: [],
      itemCount: 0,
      emptyQuery: false,
      loading: false
    }
  },
  beforeMount: function () {
    this.getStatusMessages()
  },
  methods: {
    getStatusMessages: function () {
      this.loading = true
      this.axios.get(`/user/status/${this.itemCount}`)
        .then((response) => {
          var data = JsonResponse.unwrapData(response)

          if (data.length) {
            data.forEach(status => {
              this.statusList.push(status)
              this.itemCount++
              this.emptyQuery = false
              this.loading = false
            })
          } else {
            // most recent query had no records; disable scroll event listener
            this.emptyQuery = true
            this.loading = false
            window.onscroll = null
          }
        })
        .catch((error) => {
          console.warn('userStatusList fetch error', error)
          this.loading = false
        })
    },
    prependStatus: function (data) {
      /* data emitted from UserStatusForm */
      console.log('pageProfile prependStatus()', data)
      this.statusList.unshift(data)
    }
  }
}
</script>
