<template>
  <div class="page-new-password">
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Recover Password
          </h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-half">
            <NewPasswordForm />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import NewPasswordForm from './newPasswordForm.vue'

export default {
  name: 'pageRecoverPassword',
  components: {
    NewPasswordForm
  }
}
</script>
