<template>
  <div class="page-timeline">
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="title">
              Timeline
            </h1>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <TimelineContainer />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import TimelineContainer from './timelineContainer.vue'

export default {
  name: 'pageTimeline',
  components: {
    TimelineContainer
  }
}
</script>
