<template>
  <div class="page-login">
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Login to The Social Network
          </h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-half">
            <LoginForm />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import LoginForm from './loginForm.vue'

export default {
  name: 'pageLogin',
  components: {
    LoginForm
  }
}
</script>
