<template>
  <div class="recover-password-form">
    <div v-if='!sentRequest'>
      <form v-on:submit="submit">
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input v-model="input_email" v-on:input="inputChange"  class="input is-medium" type="email" placeholder="Email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button type="submit" class="button is-primary" v-bind:class="{ 'is-loading' : this.btn_loading_state }">
              Submit
            </button>
          </p>
        </div>
        <div v-if="error_response" class="error-container">
          <span class="help is-danger">{{error_response}}</span>
        </div>
      </form>
    </div>
    <div v-else>
      <p>
        Your request has been submitted successfully,<br />
        You will recieve an email with instructions shortly.
      </p>
    </div>
  </div>

</template>

<script>
export default {
  name: 'recoverPasswordForm',
  data: function () {
    return {
      'btn_loading_state': false,
      'input_email': null,
      'error_response': null,
      'sentRequest': false
    }
  },
  methods: {
    submit: function (event) {
      event.preventDefault()
      this.btn_loading_state = true

      var data = {
        'email': this.input_email
      }

      if (data.email.length > 0) {
        this.axios.post('/auth/recover-password', data)
          .then(response => {
            this.sentRequest = true
            this.btn_loading_state = false
          })
          .catch(err => {
            this.btn_loading_state = false
            this.error_response = err
          })
      } else {
        this.error_response = 'Please enter your registered email address'
      }
    },
    inputChange: function () {
      if (this.error_response != null) {
        this.error_response = null
      }
    }
  }
}
</script>
