<template>
  <div class="registration-form">
    <form v-on:submit="submit">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input v-model="input_email" v-on:input="inputChange" class="input is-medium" type="email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <!-- <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span> -->
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input v-model="input_display_name" v-on:input="inputChange" class="input is-medium" type="text" placeholder="Display name">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input v-model="input_first_name" v-on:input="inputChange" class="input is-medium" type="text" placeholder="First name">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input v-model="input_last_name" v-on:input="inputChange" class="input is-medium" type="text" placeholder="Last name">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input v-model="input_password" v-on:input="inputChange" class="input is-medium" type="password" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input v-model="input_password_confirmation" v-on:input="inputChange" class="input is-medium" type="password" placeholder="Confirm Password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button type="submit" class="button is-primary" v-bind:class="{ 'is-loading' : this.btn_loading_state }">
            Register
          </button>
        </p>
      </div>
      <div v-if="error_response" class="error-container">
        <span class="help is-danger">{{error_response}}</span>
      </div>
      <div class="forgot-password">
        <a href="#">
          Forgot your password?
        </a>
      </div>
    </form>
  </div>

</template>

<script>
import JsonResponse from '../jsonResponse.js'

export default {
  name: 'registrationForm',
  data: function () {
    return {
      'btn_loading_state': false,
      'input_email': null,
      'input_display_name': null,
      'input_first_name': null,
      'input_last_name': null,
      'input_password': null,
      'input_password_confirmation': null,
      'error_response': null
    }
  },
  methods: {
    check_form_inputs: function () {
      if (this.input_email === null || this.input_email === '') {
        this.error_response = 'Please enter an Email address'
        return false
      }
      if (this.input_display_name === null || this.input_display_name === '') {
        this.error_response = 'Please enter a Display Name'
        return false
      }
      if (this.input_fist_name === null || this.input_fist_name === '') {
        this.error_response = 'Please enter a first name'
        return false
      }
      if (this.input_last_name === null || this.input_last_name === '') {
        this.error_response = 'Please enter a last name'
        return false
      }
      if ((this.input_password === null || this.input_password === '') && (this.input_password_confirmation === null || this.input_password_confirmation === '')) {
        this.error_response = 'Please complete password fields'
        return false
      }
      if (this.input_password !== this.input_password_confirmation) {
        this.error_response = 'Passwords do not match, please try again'
        return false
      }
      return true
    },
    submit: function (event) {
      event.preventDefault()
      this.btn_loading_state = true
      let formComplete = this.check_form_inputs()

      if (formComplete) {
        this.$auth.register({
          data: {
            email: this.input_email,
            display_name: this.input_display_name,
            first_name: this.input_first_name,
            last_name: this.input_last_name,
            password: this.input_password,
            password_confirmation: this.input_password_confirmation
          },
          success: function (res) {
            this.btn_loading_state = false
          },
          error: function (res) {
            this.btn_loading_state = false
            this.error_response = JsonResponse.unwrapMessage(res)
          }
        })
      } else {
        this.btn_loading_state = false
      }
    },
    inputChange: function () {
      if (this.error_response != null) {
        this.error_response = null
      }
    }
  }
}
</script>
<style scoped>
.error-container {
  margin: 1rem 0;
  padding: 1rem 1rem;
  background-color: rgba(255,0,0,0.1);
}
</style>
