<template>
  <div class="column" v-if='isNotDeleted'>
    <div class="status-message card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48" v-if='this.AvatarUrl'>
              <img :src="this.AvatarUrl">
            </figure>
            <figure class="image is-48x48" v-else>
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{statusData.Owner.DisplayName}}</p>
            <p class="subtitle is-6">{{statusData.Owner.FirstName}} {{statusData.Owner.LastName}}</p>
          </div>
        </div>

        <div v-if='editState'>
          <form v-on:submit="submitEdit">
            <div class="field">
              <label class="label">Edit status</label>
              <p class="control has-icons-left">
                <textarea v-model="input_message" class="textarea" placeholder="Edit status"></textarea>
              </p>
            </div>
            <div v-if="error_response" class="error-container">
              <span class="help is-danger">{{error_response}}</span>
            </div>
            <div class="field">
              <p class="control">
                <button type="submit" class="button is-primary" v-bind:class="{ 'is-loading' : this.btn_loading_state }">
                  Submit
                </button>
              </p>
            </div>
          </form>
        </div>
        <div v-else>
          <div class="content">
            {{statusData.Message}}
          </div>
        </div>

        <div class="content status-message-controls">
          <small>
            <time>
              <DatetimeLocalize v-bind:timeCreatedAt='statusData.createdAt' v-bind:timeUpdatedAt='statusData.updatedAt' />
            </time>
          </small>
          <div v-if='ownershipCheck'>
            <button class="button is-small is-warning" v-bind:class="{ 'is-outlined' : !this.editState }" v-on:click='toggleEdit'>
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button class="button is-small is-outlined is-danger" v-on:click='toggleModal'><i class="fas fa-trash-alt"></i></button>
          </div>
        </div>

        <div class="modal" v-bind:class="{ 'is-active' : !this.editState }" v-if='modalDeletePrompt'>
          <div class="modal-background" v-on:click='toggleModal'></div>
          <div class="modal-content delete-post">
            <div>
              <span class="is-danger">Are you sure you would like to delete this Status?</span>
            </div>
            <div>
              <button class="button is-danger" v-on:click='deletePost'>Delete</button>
              <button class="button is-success" v-on:click='toggleModal'>Return</button>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close" v-on:click='toggleModal'></button>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import DatetimeLocalize from './datetimeLocalize.vue'
import JsonResponse from '../jsonResponse.js'

export default {
  name: 'statusMessageCard',
  props: ['statusData'],
  components: {
    DatetimeLocalize
  },
  data: function () {
    return {
      'AvatarUrl': null,
      'input_message': null,
      'error_response': null,
      'editState': false,
      'isNotDeleted': true,
      'modalDeletePrompt': false,
      'btn_loading_state': false
    }
  },
  mounted: function () {
    this.input_message = this.statusData.Message
    this.AvatarUrl = this.statusData.Owner.avatarUrl
  },
  computed: {
    ownershipCheck: function () {
      var postOwnerId = this.statusData.Owner.id
      var authUserId = this.$auth.user().id
      return postOwnerId === authUserId
    }
  },
  methods: {
    toggleEdit: function () {
      this.input_message = this.statusData.Message
      this.editState = !this.editState
    },
    toggleModal: function () {
      this.modalDeletePrompt = !this.modalDeletePrompt
    },
    submitEdit: function (event) {
      event.preventDefault()
      this.btn_loading_state = true

      var data = {
        'message': this.input_message,
        'postId': this.statusData.id
      }
      if (data.postId != null) {
        if (data.message.length > 0) {
          this.axios.patch('/user/status', data)
            .then(response => {
              this.btn_loading_state = false
              this.toggleEdit()
              // overwrite existing 'message' value with new record
              var data = JsonResponse.unwrapData(response)
              this.statusData.Message = data[0].Message
            })
            .catch(err => {
              this.btn_loading_state = false
              console.log('submitEdit() error:', err)
            })
        } else {
          this.btn_loading_state = false
          this.error_response = 'Please type a new status message'
        }
      }
    },
    deletePost: function () {
      this.axios.delete(`/user/status/${this.statusData.id}`)
        .then(response => {
          // todo
          this.toggleModal()
          this.isNotDeleted = false
        })
        .catch(err => {
          // todo
          console.warn(err)
        })
    }

  }
}
</script>

<style scoped>
.datetime-localize {
  color: #999;
}
.media-content {
  overflow: hidden;
}
.status-message-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.modal-content.delete-post {
  background-color: #FFF;
  padding: 2rem;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
</style>
