<template>
  <div class="timeline-container container">
    <div class="columns" v-for="(item, index) in items" v-bind:key="index">
      <StatusMessageCard v-bind:statusData='item'/>
    </div>
  </div>
</template>

<script>
import StatusMessageCard from './statusMessageCard.vue'
import JsonResponse from '../jsonResponse.js'

export default {
  name: 'timelineContainer',
  components: {
    StatusMessageCard
  },
  data: function () {
    return {
      items: []
    }
  },
  mounted: function () {
    this.axios.get('/status/recent/')
      .then((response) => {
        this.items = JsonResponse.unwrapData(response)
      })
      .catch((error) => {
        console.warn('timelineContainer fetch error', error)
      })
  }
}
</script>
