<template>
  <div class="user-status-form">
    <form v-on:submit="submit">
      <div class="field">
        <label class="label">Post new status</label>
        <p class="control has-icons-left">
          <textarea v-model="input_message" class="textarea" placeholder="Type your message to the world"></textarea>
        </p>
      </div>
      <div v-if="error_response" class="error-container">
        <span class="help is-danger">{{error_response}}</span>
      </div>
      <div class="field">
        <p class="control">
          <button type="submit" class="button is-primary" v-bind:class="{ 'is-loading' : this.btn_loading_state }">
            Submit
          </button>
        </p>
      </div>
    </form>
  </div>

</template>

<script>
import JsonResponse from '../jsonResponse.js'

export default {
  name: 'userStatusForm',
  data: function () {
    return {
      'btn_loading_state': false,
      'input_message': null,
      'error_response': null
    }
  },
  methods: {
    submit: function (event) {
      event.preventDefault()
      this.btn_loading_state = true

      var data = {
        message: this.input_message
      }

      this.axios.post('/user/status', data)
        .then((response) => {
          this.btn_loading_state = false
          this.input_message = ''
          this.addStatus(JsonResponse.unwrapData(response))
        })
        .catch((error) => {
          this.btn_loading_state = false
          this.error_response = error
          console.warn('Failed to post user status', error)
        })
    },
    addStatus (statusData) {
      this.$emit('addStatus', statusData)
    }
  }
}
</script>
