<template>
  <div class="user-status-list">
    <div class="columns" v-for="(item, index) in statusList" v-bind:key="index">
      <StatusMessageCard v-bind:statusData='item' />
    </div>
    <div class="columns" v-if='loading'>
      <div class="column">
        <div class="has-text-centered">
          <i class="fas fa-cog fa-spin fa-2x"></i>
        </div>
      </div>
    </div>
    <div class="columns" v-if='emptyQuery'>
      <div class="column">
        <div class="has-text-centered">
          <div class="empty-query-msg has-background-info has-text-white">
            That's all folks! no more posts to fetch.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import StatusMessageCard from './statusMessageCard.vue'

export default {
  name: 'userStatusList',
  components: {
    StatusMessageCard
  },
  props: ['statusList', 'emptyQuery', 'loading'],
  mounted: function () {
    this.scroll()
  },
  methods: {
    scroll () {
      window.onscroll = () => {
        let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight
        if (bottomOfWindow) {
          this.$emit('triggerGetStatusMessages')
        }
      }
    }
  }
}
</script>
<style scoped>
.empty-query-msg {
  padding: 1rem;
  margin: 1rem 0;
}
</style>
