<template>
  <div class="user-details">
    <div class="content">
      <div>
        <div class="image" style="margin-bottom: 1rem;" v-if='this.AvatarUrl'>
          <img :src="this.AvatarUrl">
        </div>
        <div class="image" style="margin-bottom: 1rem;" v-else>
          <img src="https://bulma.io/images/placeholders/256x256.png">
        </div>
      </div>
      <div style="margin-bottom: 1rem;">
        <h3 style="margin-bottom: 0;">{{ this.DisplayName }}</h3>
        <div>
          {{ this.FirstName }} {{ this.LastName }}
        </div>
      </div>
      <div v-if='this.About'>
        {{this.About}}
      </div>
    </div>
    <div>
      <div style="margin-top: 1rem; margin-bottom: 1rem;">
        <button class="button is-small is-info" v-bind:class="{ 'is-outlined' : !this.isEditing }" v-on:click='toggleEditing'>
          <i class="fas fa-pencil-alt" style="margin-right: 0.5rem;"></i> Edit Details
        </button>
      </div>
      <div style="margin-bottom: 1rem;">
        <button class="button is-small is-info is-outlined">
          <i class="fas fa-pencil-alt" style="margin-right: 0.5rem;"></i> Edit Email (todo)
        </button>
      </div>
      <div style="margin-bottom: 1rem;">
        <button class="button is-small is-info is-outlined">
          <i class="fas fa-pencil-alt" style="margin-right: 0.5rem;"></i> Edit Password (todo)
        </button>
      </div>
      <div style="margin-bottom: 1rem;">
        <button class="button is-small is-info is-outlined" v-bind:class="{ 'is-outlined' : !this.isAvatarEditing }" v-on:click='toggleAvatarEditing'>
          <i class="fas fa-pencil-alt" style="margin-right: 0.5rem;"></i> Change Avatar
        </button>
      </div>
    </div>

    <div class="modal" v-bind:class="{ 'is-active' : this.isEditing }" v-if='this.isEditing'>
      <div class="modal-background" v-on:click='toggleEditing'></div>
      <div class="modal-content edit-details">
        <div>
          <form v-on:submit="submit">
            <div class="field">
              <label class="label">Display Name</label>
              <p class="control has-icons-left">
                <input v-model="input_display_name" v-on:input="inputChange" class="input" type="text" placeholder="Display name">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label class="label">First Name</label>
              <p class="control has-icons-left">
                <input v-model="input_first_name" v-on:input="inputChange" class="input" type="text" placeholder="First name">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label class="label">Last Name</label>
              <p class="control has-icons-left">
                <input v-model="input_last_name" v-on:input="inputChange" class="input" type="text" placeholder="Last name">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label class="label">About Me</label>
              <p class="control">
                <textarea v-model="input_about" v-on:input="inputChange" class="textarea" type="text" placeholder="(Optional) Tell us about yourself, 255 characters max" rows=4 />
              </p>
            </div>
            <div v-if="error_response" class="error-container">
              <span class="help is-danger">{{error_response}}</span>
            </div>
            <div class="field">
              <p class="control">
                <button type="submit" class="button is-primary" v-bind:class="{ 'is-loading' : this.btn_loading_state }">
                  Submit
                </button>
              </p>
            </div>
          </form>
        </div>
        <!-- <div>
          <button class="button is-danger" v-on:click='deletePost'>Delete</button>
          <button class="button is-success" v-on:click='toggleEditing'>Return</button>
        </div> -->
      </div>
      <button class="modal-close is-large" aria-label="close" v-on:click='toggleEditing'></button>
    </div>

    <div class="modal" v-bind:class="{ 'is-active' : this.isAvatarEditing }" v-if='this.isAvatarEditing'>
      <div class="modal-background" v-on:click='toggleAvatarEditing'></div>
      <div class="modal-content edit-details">
        <div>
          <form v-on:submit="submitAvatar">
            <div class="file">
              <label class="file-label">
                <input class="file-input" type="file" ref='file' name="avatarInput" v-on:change="handleFileInput" accept="image/*">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose a file…
                  </span>
                </span>
                <span class="file-name" v-if='this.input_file_avatar_name'>
                  {{input_file_avatar_name}}
                </span>
              </label>
            </div>
            <div v-if="error_response" class="error-container">
              <span class="help is-danger">{{error_response}}</span>
            </div>
            <div class="field">
              <p class="control">
                <button type="submit" class="button is-primary" v-bind:class="{ 'is-loading' : this.btn_loading_state }">
                  Submit
                </button>
              </p>
            </div>
          </form>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" v-on:click='toggleAvatarEditing'></button>
    </div>

  </div>
</template>

<script>
import JsonResponse from '../jsonResponse.js'

export default {
  name: 'userDetails',
  data: function () {
    return {
      isEditing: false,
      isAvatarEditing: false,
      btn_loading_state: false,
      error_response: null,
      DisplayName: null,
      FirstName: null,
      LastName: null,
      About: null,
      Avatar: null,
      input_display_name: null,
      input_first_name: null,
      input_last_name: null,
      input_about: null,
      input_file_avatar: null,
      input_file_avatar_name: null,
      AvatarUrl: null
    }
  },
  beforeMount: function () {
    var UserId = this.$auth.user().id
    if (UserId) {
      this.axios.get(`/user/${UserId}`)
        .then((response) => {
          /* Set Data */
          if (response.data.avatarUrl) {
            this.AvatarUrl = response.data.avatarUrl
          }
          this.DisplayName = response.data.DisplayName
          this.FirstName = response.data.FirstName
          this.LastName = response.data.LastName
          this.About = response.data.About
          /* Set Inputs */
          this.input_display_name = response.data.DisplayName
          this.input_first_name = response.data.FirstName
          this.input_last_name = response.data.LastName
          this.input_about = response.data.About
          this.btn_loading_state = false
        })
        .catch((error) => {
          this.btn_loading_state = false
          console.warn('todo something went wrong!', error)
        })
    }
  },
  methods: {
    toggleEditing: function () {
      this.isEditing = !this.isEditing
    },
    toggleAvatarEditing: function () {
      this.isAvatarEditing = !this.isAvatarEditing
    },
    inputChange: function () {
      if (this.error_response != null) {
        this.error_response = null
      }
    },
    submit: function (event) {
      event.preventDefault()
      this.btn_loading_state = true

      if (this.check_form_inputs()) {
        var data = {
          display_name: this.input_display_name,
          first_name: this.input_first_name,
          last_name: this.input_last_name
        }

        this.input_about.length > 0 ? data.about = this.input_about : data.about = ''

        this.axios.patch('/user/details', data)
          .then(response => {
            var data = JsonResponse.unwrapData(response)

            this.DisplayName = data[0].DisplayName
            this.FirstName = data[0].FirstName
            this.LastName = data[0].LastName
            this.About = data[0].About

            this.btn_loading_state = false
            this.toggleEditing()
          })
          .catch(err => {
            this.btn_loading_state = false
            this.toggleEditing()
            this.error_response = err.message
          })
      } else {
        this.btn_loading_state = false
      }
    },
    handleFileInput: function (event) {
      this.input_file_avatar = this.$refs.file.files[0] /* refers to ref attr on input */
      this.input_file_avatar_name = event.currentTarget.files[0].name
    },
    submitAvatar: function (event) {
      event.preventDefault()
      this.btn_loading_state = true

      let formData = new FormData()
      formData.append('file', this.input_file_avatar)

      // content type 'multipart/form-data' crutial to file uploads.
      this.axios.post('/user/avatar', formData, {headers: {'Content-Type': 'multipart/form-data'}})
        .then(response => {
          console.warn('Successful avatar upload', response)
          this.input_file_avatar = null
          this.input_file_avatar_name = null
          this.btn_loading_state = false
        })
        .catch(err => {
          console.warn('Avatar upload error', err)
          this.input_file_avatar = null
          this.input_file_avatar_name = null
          this.btn_loading_state = false
          this.error_response = 'Avatar upload unsuccessful'
        })
    },
    check_form_inputs: function () {
      if (this.input_display_name === null || this.input_display_name === '') {
        this.error_response = 'Please enter a Display Name'
        return false
      }
      if (this.input_fist_name === null || this.input_fist_name === '') {
        this.error_response = 'Please enter a first name'
        return false
      }
      if (this.input_last_name === null || this.input_last_name === '') {
        this.error_response = 'Please enter a last name'
        return false
      }
      if (this.input_about.length > 255) {
        this.error_response = 'Please keep your About Me comment below 255 characters'
        return false
      }

      return true
    }
  }
}
</script>

<style scoped>
.modal-content {
  background-color: #FFF;
  padding: 2rem;
  border-radius: 3px;
}
.error-container {
  margin: 1rem 0;
}
</style>
