<template>
  <div id="app">
    <nav class="navbar is-dark">
      <div class="container">
        <div class="navbar-brand">
          <router-link class="navbar-item" to="/">
            TheSocialNetwork
          </router-link>
          <div class="navbar-burger burger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <router-link v-if="$auth.check()" class="navbar-item" to="/profile">Profile</router-link>
            <router-link v-if="$auth.check()" class="navbar-item" to="/timeline">Timeline</router-link>
          </div>
          <div v-if="$auth.check()" class="navbar-end">
            <span class="navbar-item">Hi, {{ $auth.user().DisplayName }}</span>
            <a href="#" v-on:click="logoutAction" class="navbar-item">Logout</a>
          </div>
          <div v-if="!$auth.check()" class="navbar-end">
            <router-link class="navbar-item" to="/login">Login</router-link>
            <router-link class="navbar-item" to="/register">Register</router-link>
          </div>
        </div>
      </div>
    </nav>
    <div v-if="$auth.ready()" class="router-view-primary">
      <router-view></router-view>
    <div v-if="!$auth.ready()" class="auth-not-ready">
        Loading ...
    </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="columns">
          <div class="column">
            <strong>The Social Network</strong> <br />
            by
            <a href="https://gitlab.com/mharrisondev" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-gitlab"></i> mharrisondev
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  methods: {
    logoutAction: function () {
      this.$auth.logout({
        // makeRequest: true,
        redirect: '/'
      })
    }
  }
}
</script>

<style scoped>
.footer {
  margin-top: 1rem;
}
</style>
